.plates-wrapper {
    margin: 36px 0 22px 0;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    list-style: none;

    overflow: auto;

    flex-grow: 1;   

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.plates-wrapper::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.plate-wrapper {
    position: relative;
    width: 240px;
    height: 240px;
}

.tooltip-trigger {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    z-index: 10;
}

.drops-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.plate-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28%;
    height: 28%;

    pointer-events: none;
    z-index: 5;

    -webkit-filter: drop-shadow(1px 1px 1px  var(--gray-1));
    filter: drop-shadow(1px 1px 1px var(--gray-1)) sepia(40%); /*sepia(60%)*/
}

.plate-svg {
    width: 100%;
    height: 100%;

    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.plate-svg .plate-circle {
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
}

.plate-svg .plate-circle.stronger {
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.4));
}

.plate-svg .plate-inner-circle {
    fill: var(--white);
}

.plate-svg .diagonal-line {
    stroke: #524F4F;
    stroke-width: 1px;
}

.plate-svg text, textPath {
    font-weight: 700;
    font-size: 8px;
    line-height: 13px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: .1em;

    fill: #AEAEAE;
}

span.cultive-name {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-transform: uppercase;
    text-align: center;
    color: var(--black);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .075em;

    z-index: 5;
}