$plate-width: 240px;
$plate-height: 240px;
$viewport-threshold: $plate-width;

.plates-wrapper {
    margin: 36px 0 22px 0;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    list-style: none;

    overflow: auto;

    flex-grow: 1;   

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.plates-wrapper::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.plate-wrapper {
    position: relative;
    width: 240px;
    height: 240px;
}
