.main-page {
    padding: 54px 8.5% 2.5% 8.5%;
    
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    position: relative;
}

.main-page header {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.main-page footer {
    padding: 0 10%;
}

.nav-wrapper {
    display: flex;
    justify-content: center;

    position: relative;

    border-bottom: 1px solid var(--gray-1);
    margin-bottom: 4px;
}

.nav-wrapper img {
    margin-bottom: 18px;
}

.nav-wrapper ul {
    display: flex;

    margin: 0;

    position: absolute;
    bottom: 10px;
    right: 0;
}

.nav-wrapper ul li {
    list-style-type: none;

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: var(--gray-1);
    margin-left: 12px;
}