.plate-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 43%;
    height: 43%;
}

.plate-wrapper svg {
    width: 100%;
    height: 100%;
}

.plate-circle {
    fill: var(--white);
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
}

.plate-inner-circle {
    fill: var(--white);
}

.diagonal-line {
    stroke: #524F4F;
    stroke-width: 1px;
}

text, textPath {
    font-weight: 700;
    font-size: 8px;
    line-height: 13px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: .1em;

    fill: #AEAEAE;
}

.drop-0 { 
    fill: transparent; 
    stroke: black; 
    stroke-width: 1px;
}
.drop-1 { fill: var(--pest-1); }
.drop-2 { fill: var(--pest-2); }
.drop-3 { fill: var(--pest-3); }
.drop-5 { fill: var(--pest-5); }
.drop-6 { fill: var(--pest-6); }
.drop-7 { fill: var(--pest-7); }
.drop-9 { fill: var(--pest-9); }
.drop-10 { fill: var(--pest-10); }

.br {
    stroke: green;
    stroke-width: 0px;
}
.eu {
    stroke: blue;
    stroke-width: 0px;
}