$spanel-width: 140px;
$plate-size: 240px;

.plates-header {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
  padding-bottom: 24px;

  position: sticky;
  top: 0;

  z-index: 4;

  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);

  .pest-filter-container {
    width: 600px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .btns-wrapper {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .filter-title {
    text-align: center;

    transform: translate(0, 0);

    font-size: 10px;
    font-weight: 400;

    color: var(--black);

    text-transform: uppercase;
    letter-spacing: .03rem;

    transition: opacity .2s ease-in-out, transform .25s ease-in-out;

    opacity: 1;
  }

  .pest-filter {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 4px;

    transform: translateY(-8px);

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-rank {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 10px;
        font-weight: 700;
        line-height: 100%;
        opacity: 0;

        transition: opacity .25s ease-in-out;
    }

    &-bullet {
        width: 24px;
        height: 24px;
    
        border-radius: 50%;
        box-shadow: 
            inset -2px -2px 4px rgba(255, 255, 255, 0.5), 
            inset 1px 1px 6px rgba(0, 0, 0, 0.1),
            0px 0px 0px rgba(0, 0, 0, 0.2);
    
        outline: none;
        border: none;
    
        margin-top: 6px;
        margin-bottom: 8px;
    
        outline-offset: -2px;
    
        outline: 0 solid rgba(6, 6, 6, 0);
        transition: 
            outline .15s ease-in-out,
            outline-offset .15s ease-in-out,
            outline-color .15s ease-in-out;
    }

    &.active .pest-filter-bullet {
        outline: 3px solid rgba(110, 110, 111, 1);
        outline-offset: 2px;
    }

    &:not(.active):hover .pest-filter-bullet {
        outline: 2px solid rgba(110, 110, 111, .6);
        outline-offset: 2px;
    }

    &-label {
        position: absolute;
        top: 95%;
        left: 50%;
    
        white-space: nowrap;
    
        transform: translateX(-50%);
    
        text-align: center;
    
        opacity: 0;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0;
    
        transition: 
            top .3s ease-in-out,
            opacity .3s ease-in-out,
            letter-spacing .3s ease-in-out;   
    }

    &:hover .pest-filter-label {
        top: 100%;
        opacity: 1;
        letter-spacing: 0.06em;  
    }
  }

  &:hover .filter-title {
      opacity: 0;
      transform: translate(0, -5px);
  }

  &:hover .pest-filter-rank {
      opacity: 1;
  }
}

.plates-body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  & > div {
    grid-row: 1;
  }
}

.center-panel {
  grid-column: 2/10;
}

.side-panel {
  padding: 2em 0;
  width: $spanel-width;
}

.slide-container {
  position: sticky;
  top: calc(82.99px + 2em);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.side-panel.details {
  grid-column: 10;
}

.side-panel.type {
  grid-column: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .type-option {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 150%;

    margin: 3px 0;
    padding: 3px 0 3px 4px;
    border-left: 3px solid #ffffff00;

    color: var(--gray-1);

    transition: padding-left .1s ease-in-out;

    &.active {
      border-left-color: var(--black);
      font-weight: 600;
      padding-left: 6px;

      color: var(--black);
    }

    &:not(.active):hover {
      color: var(--black);
      padding-left: 6px;
    }
  }

}

.cultive-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(1px 1px 1px  var(--gray-1));
  filter: drop-shadow(1px 1px 1px var(--gray-1)) sepia(40%); /*sepia(60%)*/
}

.plates-wrapper {
  position: relative;
  padding: 16px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;

  flex-grow: 1;
  flex-shrink: 1;

  list-style: none;

  overflow: auto;

  li {
    width: $plate-size;
    aspect-ratio: 1/1;
  }  

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
      display: none;
  }
}

.plate-wrapper {
  position: relative;
  width: 100%;

  margin: auto auto;
  aspect-ratio: 1/1;
  z-index: 1;

  .tooltip-trigger {
      position: absolute;
  
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      border-radius: 50%;
      z-index: 3;
  }

  .cultive-container {
    position: absolute;
    width: 27.5%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
    z-index: 2;
  }

  span.cultive-name {
      position: absolute;
      top: 50%;
      left: 50%;
  
      transform: translate(-50%, -50%);
  
      text-transform: uppercase;
      text-align: center;
      color: var(--black);
      font-size: 10px;
      font-weight: 700;
      letter-spacing: .075em;
  
      z-index: 2;
  }

  svg { 
    width: 100%;
    height: 100%;

    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .plate-circle {
      filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
    }

    .plate-circle-inner {
      fill: var(--white);
    }

    .plate-circle.stronger {
      filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.4));
    }

    .diagonal-line {
      stroke: #524F4F;
      stroke-width: 1px;
    }

    text, textPath {
      font-weight: 700;
      font-size: 8px;
      line-height: 13px;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: .1em;
  
      fill: #AEAEAE;
    }
  }

}

.legend-container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  
  height: 48px;
  margin-bottom: 18px;
  
  flex-grow: 0;

  .legend-header {
    margin: 0 auto;
  }

  .legend-header-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: var(--gray-1);
    text-decoration: underline solid #cacaca;
  }

  .legend-header-title.strong {
    font-weight: 800;
    margin-right: 4px;
    text-decoration: none;
  }

  .legend-body {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    position: relative;
  }

  .color-blocks {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    margin-top: 8px;
    margin-bottom: 4px;
    padding: 0 16px;

    div {
      flex-grow: 1;
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .size-drop:nth-child(2) {
      fill: var(--gray-1);
    }
  }
}


@media (max-width: 768px) {

  section.plates {
    height: 100vh;

    display: flex;
    flex-direction: column;
  }

  .plate-container {
    margin-top: 12px;
    display: flex;
    flex-grow: 2;
    flex-shrink: 1;
    justify-content: center;
    overflow: hidden;
  }

  .filters-wrapper {
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    overflow-x: hidden;

    .filters-row {
      display: grid;
      grid-auto-flow: column;
      scroll-padding-inline: .75rem;
      overflow: auto;

      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .filters-row.type {
        .type-option {
          text-transform: uppercase;
          font-size: .7rem;
          line-height: 150%;
          white-space: nowrap;
    
          padding: 3px 20px;
    
          color: var(--gray-1);

          border-bottom: 1px solid rgba(110, 110, 111, .1);
    
          &.active {
            color: var(--black);
            font-weight: 600;
            border-bottom: 1px solid var(--black);
    
          }
        }
      }

    .filters-row.cultive {
        padding: 0 14px;
        gap: .5rem;

        .cultive-btn {
          position: relative;
          width: calc(40px + 1vh);
          height: calc(40px + 1vh);

          margin: 10px 2px;

          &.selected:before {
            position: absolute;

            content: '';
            padding: 2px;
            background: var(--pest-D27);
            
            // box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

            left: 50%;
            bottom: -3px;
            transform: translateX(-50%);

            border-radius: 50%;
          }

        }
      }

    }
}




.table {
  padding: .8rem 1.25rem 1.25rem 1.25rem;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  height: 30%;

  .table-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    
    span {
      text-transform: uppercase;
      text-align: center;
    }
    
    span.main {
      font-size: 14px;
      font-weight: 600;
      border-bottom: 1px solid var(--gray-2);
      padding-bottom: 4px;
      margin: 0;
    }

    span.sub {
      margin-top: 4px;
      font-size: 8px;
      font-weight: 400;
    }
  }

  .table-grid {
    flex-grow: 1;
    overflow: hidden;

    display: grid;
    grid-template-rows: 29px auto;

    &--row {
      display: grid;
      grid-template-columns: 36% 29% 25% 10%;

      .col {

        &-name {
          text-transform: uppercase;
          font-weight: 600;
          font-size: .6rem;

          display: flex;
          justify-content: flex-start;
          align-items: center;

          &:first-child {
            padding-left: 18px;
          }
        }

        &-value {
          font-weight: 300;
          font-size: .8rem;

          &:first-child {
            font-size: .7rem;
          }

          &:nth-child(2), &:nth-child(3) {
            font-size: .9rem;
          }
        }

        &:not(:first-child) {
          text-align: center;
  
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .banned {
          font-size: .6rem;
          font-weight: 600;
          text-transform: uppercase;
          color: var(--red);
        }

        .measure-unit {
          font-size: .6rem;
          margin-left: .2rem;
        }
      }
    }

    &--body {
      padding-right: 6px;
      overflow: auto;

      .table-grid--row {
        margin-bottom: 6px;
      }

      .col:first-child:before {
        content: '';
        padding: 6px;
        margin-right: 6px;
      }
    }

    .col-G01:before { background-color: var(--pest-G01); }
    .col-D27:before { background-color: var(--pest-D27); }
    .col-M02:before { background-color: var(--pest-M02); }
    .col-A14:before { background-color: var(--pest-A14); }
    .col-A02:before { background-color: var(--pest-A02); }
    .col-C18:before { background-color: var(--pest-C18); }
    .col-M01:before { background-color: var(--pest-M01); }
    .col-I13:before { background-color: var(--pest-I13); }
    .col-C20:before { background-color: var(--pest-C20); }
  }
}