@import './static/css/Cover.scss', './static/css/Plates.scss', './static/css/Text.scss';

.App {
  height: 100vh;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  header {
    position: fixed;
    top: 0;
    width: 100vw;

    display: flex;

    z-index: 2;
    
    .header-container {
        display: flex;
        align-items: center;

        .app-logo {
            position: relative;
            width: 200px;
            height: 24px;

            -webkit-mask: url(./static/imgs/apragareal.svg) no-repeat center;
            mask: url(./static/imgs/apragareal.svg) no-repeat center;
            
            background-color: black;
            z-index: 10;
        }

        button {
            font-size: 13px;
        }
    }
  }

  @media (min-width: 768px) {
    header {
        padding: 32px 24px 2vh 32px;  
    
        justify-content: space-between;
    
        .header-container {
    
          &:first-child {
              width: 110px;
              justify-content: flex-start;
          }
          &:last-child {
              width: 116px;
              justify-content: center;
              margin-left: calc(32px - 24px);
          }
      }
      }
  }

  @media (max-width: 767px) {
    header {
        background: #858C64;
        padding: 9px 0;  

        justify-content: center;
    
        .header-container {
          display: flex;
          align-items: center;

          .app-logo {
            background-color: white;
          }
    
          &:first-child {
              width: 110px;
              justify-content: flex-start;
          }
          &:last-child {
              position: absolute;
              top: 22px;
              bottom: 50%;
              right: 12px;
              transform: translate(-50%, 0);

              color: white;
          }
    
          
      }
      }
  }

  .aboutme > div {
    display: flex;
    align-items: flex-start;
  }

  
}

@media (min-width: 768px) {
  // .double-column {
  //   column-count: 2;
  //   column-fill: auto;
  //   column-gap: 36px;
  // }

  .aboutme > div {
    flex-direction: row;

    img {
      width: 20rem;
      height: calc(20rem*3/4);
      margin-right: 1.8rem;
    }
  }

  .paragraph-wrapper {
    font-size: 14px;
    flex-grow: 1;
  
    p {
        margin-top: 0;
        margin-bottom: 24px;
    }
  }
}

@media (max-width: 768px) {
  // .double-column {
  //   column-count: 1;
  //   column-fill: auto;
  //   column-gap: 36px;
  // }

  .aboutme > div {
    flex-direction: column;

    img {
      width: 90%;
      padding-right: 10%;
      align-self: center;
    }
  }

  .paragraph-wrapper {
    font-size: 12px;
  }
}

.bold {
  font-weight: 600;
  color: var(--pest-4);
}



