* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

section {
  overflow: hidden;
  position: relative;
  height: 100vh;
  max-height: 100vh;

  scroll-snap-align: start;
}

@media (max-width: 768px) {
  section {
    padding-top: 42px;
  }
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, sans-serif;
  font-weight: 300;
  line-height: 150%;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --white: #FFFFFF;
  --off-white: #FCFCFC;
  --black: #060606;
  --gray-0: #4F4F4F;
  --gray-1: #6E6E6F;
  --gray-2: #AEAEAE;

  --pest-G01: #86694D;
  --pest-D27: #858C64;
  --pest-M02: #D1AA75;
  --pest-A14: #A18561;
  --pest-A02: #D8D5A8;
  --pest-C18: #717658;
  --pest-M01: #999165;
  --pest-I13: #BA9E57;
  --pest-C20: #977D4A;

  --blue-1: #5A90DA;
  --blue-2: #2573d8;
  --blue-3: #1555D9;
  --blue-4: #0339D9;

  --red: #BD3030;
}

button {
  border: none;
  outline: none;
  background: none;
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  padding: 0;
  margin: 0;
  font-family: inherit;
  text-shadow: inherit;

  cursor: pointer;
}

a {
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;

  cursor: pointer;
}

.weblink {
  color: var(--blue-2);
  font-weight: 400;
  transition: all .3s ease-in-out;
  /* border-bottom: 2px solid rgba(37, 115, 216, 0); */
}

.weblink:hover {
  color: var(--blue-4);
  /* border-bottom: 2px solid var(--blue-2); */
}

a:active {
  color: var(--black);
}

ul {
  margin: 0;
  padding: 0;
}

.main-page > svg {
  transform: scale(1);
}

.main-page > svg > g > path {
  fill: red;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.drop-shine {
  fill: #FFFFFF;
  fill-opacity: 0.8;
}

.drop-0 { 
  fill: transparent; 
  stroke: black; 
  stroke-width: 1px;
}

.pest-G01,
.card-G01 .bar {
  fill: var(--pest-G01);
  background: var(--pest-G01);
}
.pest-D27,
.card-D27 .bar {
  fill: var(--pest-D27);
  background: var(--pest-D27);
}
.pest-M02,
.card-M02 .bar {
  fill: var(--pest-M02);
  background: var(--pest-M02);
}
.pest-A14,
.card-A14 .bar {
  fill: var(--pest-A14);
  background: var(--pest-A14);
}
.pest-A02,
.card-A02 .bar {
  fill: var(--pest-A02);
  background: var(--pest-A02);
}
.pest-C18,
.card-C18 .bar {
  fill: var(--pest-C18);
  background: var(--pest-C18);
}
.pest-M01,
.card-M01 .bar {
  fill: var(--pest-M01);
  background: var(--pest-M01);
}
.pest-I13,
.card-I13 .bar {
  fill: var(--pest-I13);
  background: var(--pest-I13);
}
.pest-C20,
.card-C20 .bar {
  fill: var(--pest-C20);
  background: var(--pest-C20);
}


.drop-size { 
  fill: var(--gray-1); 
}

.drop-shadow {
  fill: #060606;
  fill-opacity: .6;
}

.drop-light-shadow {
  fill: #060606;
  fill-opacity: 0.08;
}

.drop-light-darker {
  fill: #FFFFFF;
  fill-opacity: 0.2;
}

.drop-light-lighter {
  fill: #FFFFFF;
  fill-opacity: 0.3;
}

.br {
  stroke: green;
  stroke-width: 0px;
}
.eu {
  stroke: blue;
  stroke-width: 0px;
}

.deactivate {
  display: none !important;
}

.transparent {
  opacity: 0 !important;
}